---
layout: default
---
<header class="head-main">
    <section class="hero">
        <div class="hero-container">
            <div class="head">
                Quel est le meilleur escape game en France? La meilleure escape room à l'étranger ?
            </div>
            <!-- <div class="description-head">
                Découvrez nos Tops, tests, avis, et classement des escape game à Amsterdam (Pays-Bas), 
                    à Annecy,  à Athènes (Grèce), à Avignon, à Barcelone et en Espagne, à Bayonne, à Bordeaux, 
                    à Bruxelles et en Belgique, à Chambéry, à Berlin et en Allemagne, à Dijon, à Genève (Suisse), 
                    à Grenoble, à Lille, à Lyon, à Montélimar, à Montpellier, à Nantes, à Nice, à Nîmes,  à Paris, à Pau, 
                    à Prague (République Tchèque), à Perpignan, à Tokyo (Japon), à Toulouse, à Tours, à Valence…
            </div>             -->
        </div>
    </section>
    <section class="hero">
        <div>
            <h2 class="front-page-head">
                <i class="fas fa-light fa-pen"></i> Nos derniers tests
            </h2>
        </div>
        <div class="container" id="container"></div>

        <div class="grid-article-container-3">
            {% assign sorted_articles = site.articles | sort: "date" | reverse %}
            {% for article in sorted_articles limit:6 %}
                    <a href="{{ article.url }}" class="grid-article-item">
                    <img src="{{base_url}}/assets/img/escape/{{ article.image_name }}" alt="{{ article.name }}">
                    <div class="name">{{ article.title }}</div>
                    </a>
            {% endfor %}
        </div>

        <div>
            <h2 class="front-page-head">
                <img src="{{ site.baseurl }}/assets/img/icons/fra.svg" alt="icon" class="icon-image">
                Les tops en France
            </h2>

            {% include france-map.html %}
        </div>


        <div>
            <h2 class="front-page-head">
                <!-- <img src="icons/fra.svg" alt="icon" class="icon-image"> -->
                <i class="fa fa-globe" style="font-size:28px"></i>
                Les tops à l'étranger
            </h2>
        </div>
        <div>
            <ul>
                {% for article in site.articles %}
                  <li>
                    <a href="{{ article.url }}">{{ article.url }}</a>
                  </li>
                {% endfor %}
              </ul>
        </div>
        

        
    </section>
</header>