<!-- <header class="bg-light"> -->
<nav class="nav-wrap">
    <div class="logo">
        <a href ="{{ site.baseurl }}/" class="nav-logo">
            <img src="{{ site.baseurl }}/assets/img/logo_lemeg_.png" alt="">
        </a>
    </div>
    <div class="nav-items">
        <a href="{{ site.baseurl }}/top-france">Top France</a>
        <a href="{{ site.baseurl }}/top-world">Top World</a>
        <a href="{{ site.baseurl }}/podcast">Podcast</a>
        <a href="{{ site.baseurl }}/experience-immersive">Expérience immersive</a>
    </div>
</nav>
<!-- </header> -->